* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  padding: 20px 0 0 20px;
}

.heading {
  color: #666666;
}

main {
  width: 840px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.list {
  list-style: none;
}

.item {
  padding: 30px 0;
  border-bottom: 1px solid black;
}
